
.cell {
    opacity: 0.6;
    position: absolute;
    background-color: green;
}

.outer {
    display: flex;
}

.datenote {
    position: absolute;
    font-size: 10px;
}

.margin, .graphVisualization {
    display: inline-block;

}

.graphVisualization {
    position: relative;
}

.graphVisualization{
    width: 99%;
}

.margin {
    position: relative;
}


.highlighted {
    opacity: 0.3;
}

.footer{
    float:bottom;
    bottom:0;
    position: fixed
}

