
html,body,#bordercontainer,.yalign{height:100%}

.yalign{
    display:block;
    z-index:0;
    width:2px;
}


.border{

    border-left-style:dotted;

}
.cell{
    opacity: 0.5;
}

.datecell{
    background-color: white !important;
    font-size: 16px;
}

#tooltip{

    width : 8em;
    margin: 0 auto;
    text-align: center;
    position : absolute;
    white-space : nowrap;
    background-color : white;
    border : 1px solid black;
    padding : 2px;
    z-index : 1;
    font-size : 12px;
}
